#addBtn {
    color: var(--highlight-color);
    background: var(--secondary-color);
    border: none;
    float: right;
    cursor: pointer;
}

label {
    font-size: 0.65em;
    margin: 1em 0 1em 0;
}

input {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-family: inherit;
}

form {
    background-color: var(--primary-color);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.25em;
    transition: all 0.5s ease-in-out;
    opacity: 0.75;
    filter: alpha(opacity=85);
    border: 1px solid black;
}

form:hover {
    box-shadow: 0 0 3px var(--highlight-color);
    opacity: 1.0;
    filter: alpha(opacity=100);
}