input {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:inherit;
}

form {
    background-color: var(--tertiary-color);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.25em;
    transition: all 0.5s ease-in-out;
    opacity: 0.75;
    filter: alpha(opacity=85);
    
}

form:hover {
    box-shadow: 3px 3px 3px 3px var(--contrast-color);
    opacity: 1.0;
    filter: alpha(opacity=100);
}