@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
:root {
  --primary-color: #FFFFFF;
  --secondary-color: #505050;
  --tertiary-color: #FFFFFF;
  --highlight-color: lime;
  --border-radius: 4px;
  background-color: var(--tertiary-color);
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  font-family: 'KoHo', sans-serif;
}

.flex-parent {
  display: flex;
  justify-content: center;
}

.flex-child-1 {
  flex: 1;
}

.flex-child-2 {
  margin-top: 30vh;
  flex: 2;
}

@media only screen and (max-width: 600px) {
  .flex-parent {
    flex-wrap: wrap;
  }
}