@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root {
  --primary-color:   #FFFFFF;
  --secondary-color: 	#505050;
  --tertiary-color: 	#FFFFFF;
  --highlight-color:	lime;
  background-color: var(--tertiary-color);
  margin: 0;
  padding: 0;
  
}

.App{
  height:100vh;
}

body{
  font-family: 'Josefin Sans', cursive;
  height:100vh;
}

.flex-parent {
  display: flex;
  align-items:center;
  justify-content: center;
  height:100%;
  }

.flex-child-1 {
  flex: 1; 
}

.flex-child-2 {
  flex: 2; 

}

@media only screen and (max-width: 600px) {

  .flex-parent {
    flex-wrap: wrap;
  }
}